
.blocHidden { display: none; }

.openButton, .clickButton, .onglet, .icone-bouton, .bouton, .fermer-tableau, .icone { cursor: pointer;}

.inactif { cursor: not-allowed; }

.erreur { color: red; }
.alerte { color: orange; }
.succes { color: green; }
.bg-erreur { background-color: red; }
.bg-alerte { background-color: orange; }
.bg-succes { background-color: green; }
.bord-erreur { border: red 1px solid; }
.bord-alerte { border: orange 1px solid; }
.bord-succes { border: green 1px solid; }

.icone-bouton
{
    border: 1px solid #CCC;
    padding: 2px 10px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
}
.icone-bouton:hover
{
    border: 1px solid #000;
    background-color: #FFA;
}

.icone-bouton.delete-entity
{
    background-color: white;
    color: #F33;
}
.icone-bouton.delete-entity:hover
{
    color: white;
    background-color: #F33;
}

.unsubscribe:hover,
span.del-date:hover
{
    color: red;
}

.clickButton
{
    background-color: #DD4;
    border: 1px solid #CCC;
    padding: 2px 10px;
    border-radius: 6px;
    text-decoration: none;
}
.clickButton:hover
{
    background-color: #FF0;
    border: 1px solid #000;
}

.dialog form #id,
.dialog form #identifiant
{
    display: none;
}
.premier_contact
{
    margin: 30px 20%;
    font-size: 2em;
    text-align: center;
    width: 60%;
}
.premier_contact .dashicons, .dashicons-before::before
{
    font-size: 1.2em;
    width: auto;
    height: auto;
}

table td, table th
{
    word-break: normal;
}

div.flexrow
{
    display: flex;
    flex-flow: row wrap;
}

div.flexcol
{
    display: flex;
    flex-flow: column wrap;
}

label.autre span
{
    margin-left: 2em;
}
label.top
{
    display: block;
}

.openButton
{
    background-color: #DDD;
    border: 1px solid #CCC;
    padding: 2px 10px;
    border-radius: 6px;
}
.openButton:hover
{
    background-color: #FFF;
    border: 1px solid #000;
}

.highlightButton { background-color: #FFF; }

/* patch thème Generic */
.entry-content ul, .widget-container ul, .comment-body ul, .entry-content ol, .widget-container ol, .comment-body ol
{
    text-indent: 0px;
}

.wpof p
{
    margin: 3px 0;
}

.faux-bouton
{
    padding: 2px 10px;
    margin: 0px 3px;
    border-radius: 6px;
}

.float.left
{
    float: left;
    display: block;
}

.float.right
{
    float: right;
    display: block;
}

fieldset
{
    border: 1px solid #BBB;
    margin: 10px 0;
    padding: 3px 15px;
    border-radius: 6px;
}

legend
{
    background-color: #DDD;
    color: black;
    font-size: 1.2em;
    padding: 2px 5px;
    border-radius: 6px;
    border: 1px solid #BBB;
}

p.infos_doc,
.page #content p.infos_doc
{
    font-size: 0.8em;
    font-style: italic;
    color: #444;
}

div#calendrier ul
{
    list-style: none;
}
div#calendrier li
{
    border-bottom: solid 1px #AAA;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

div#calendrier .formation
{
    display: block;
}

div#profile-box
{
    position: fixed;
    top: 20px;
    right: 0px;
    margin: 10px;
    background-color: #CCC;
    border-radius: 5px;
    padding: 3px;
    font-size: 14px;
    z-index: 100;
}

div#profile-box a
{
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
}
div#profile-box li
{
    margin: 0px;
    font-size: 1em;
    padding: 3px 6px;
    box-sizing: border-box;
}

div#profile-box li:hover,
div#profile-box a:hover,
div#profile-box .ui-state-active,
div#profile-box .ui-state-focus
{
    background-color: #888;
    border: none;
    margin: 0px;
    color: white;
}
div#profile-box li.ui-state-focus a
{
    color: white;
}
div#profile-box .ui-menu-item-wrapper
{
    padding: 0;
}

/* Profil utilisateur */
.presentation-profil img#photo
{
    max-width: 300px;
    height: auto;
    float: right;
    padding-left: 10px;
}
.presentation-profil p#role
{
    
}
.presentation-profil p#marque
{
    
}
.presentation-profil div#description
{
    
}
.presentation-profil div#sessions
{
    
}
.presentation-profil div#formations
{
    
}
.presentation-profil div#realisations
{
    
}

/* Session de formation */
/* bandeau d'onglets */
div#bandeau-onglets-session
{
    display: flex;
}
div#bandeau-onglets-session li
{
    flex-direction: row;
    font-size: 2em;
    padding: 2px 20px 10px 20px;
}

div#session,
div#session input,
div#session textarea,
div#session select,
div#session label
{
    font-size: 14px;
}

div.board-stagiaire
{
    margin-top: 0px;
}

div.infos-session h3,
div.board-session h3,
div.tab-session h3,
div.board-client h3,
div.board-stagiaire h3
{
    margin: 0 0 5px 0;
    font-size: 18px;
}
div.board-client
{
    border: solid 1px #DDD;
    border-radius: 5px;
    margin: 0;
    padding: 10px;
}

.infos-session > div,
.infos-stagiaire > div,
.infos-client > div,
.infos-session.flexrow > fieldset
{
    flex-grow: 1;
    margin-right: 10px;
    max-width: 45%;
}


/* Édition en live de champs input, select, textarea */

.input_jpost
{
    margin-bottom: 10px;
}

.input_jpost .valeur
{
}

.input_jpost h3
{
    font-size: 20px;
    margin: 10px 0 5px 0;
}

.input_jpost label.top
{
    display: block;
}

.input_jpost.checkbox,
.input_jpost.time,
.input_jpost.number
{
    display: flex;
    flex-wrap: wrap;
}
.input_jpost.checkbox label.top,
.input_jpost.time label.top,
.input_jpost.number label.top
{
    display: inline;
    flex-grow: 5;
}

.dialog .input_jpost label.top
{
    display: block;
}

.input_jpost input,
.input_jpost select,
.input_jpost textarea,
.input_jpost .wp-editor-wrap,
.edit-data .input_jpost .valeur
{
    display: none;
}


.edit-data .input_jpost input
{
    display: inline;
}
.edit-data .input_jpost input[type=text],
.edit-data .input_jpost select
{
    display: inline;
    width: 100%;
}
.edit-data .input_jpost input[type=number],
.edit-data .input_jpost input[type=time]
{
    width: 80px;
}

.edit-data .input_jpost textarea,
.edit-data .input_jpost .wp-editor-wrap
{
    display: block;
}
.input_jpost label
{
/*    font-size: 0.85em;*/
}

.input_jpost input,
.input_jpost textarea,
.input_jpost select
{
    font-size: 12px;
    background-color: #E8F4EA;
}
.dialog .input_jpost input,
.dialog .input_jpost textarea,
.dialog .input_jpost select
{
    font-size: 16px;
}

/*
 * relookage des select
 */
.input_jpost select
{
    height: auto;
    border: 0; 
    margin: 0;
    padding: 1px 1px 1px 1.2em;
    border-radius: 0;
 /*   overflow: hidden;*/
    text-overflow: ellipsis;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* nouvelle flèche */
.edit-data .input_jpost div.select::after 
{ 
    /* Le pointeur du select */
    content: '';
    position: absolute;
    margin-top: -0.8em;
    margin-left: 3px;
    display: block; 
    width: 0; height: 0;
    border-color: transparent;
    border-top-color: #444; 
    border-width: 6px;
    border-style: solid;
    pointer-events: none;
}
/* pas de flèche pour les select multiple */
.edit-data .input_jpost div.select-multiple::after 
{
    display: none;
}

/* icônes attachées à input_jpost */
.input_jpost .valid
{
    display: none;
    color: green;
}

/* Quiz */
.quiz-sortable li
{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    background-color: #F3F3F3;
}
.quiz-sortable input[type='text']
{
    width: 70%;
    background-color: white;
}
.quiz-sortable li.competence
{
    padding-left: 2em;
}
.quiz-sortable li.titre
{
    font-weight: bold;
}

.quiz-sortable div.quiz-line-type
{
    padding: 0 3px;
    font-size: 0.9em;
    float: left;
}
.quiz-sortable li.titre div.quiz-line-type::before
{
    content: "Titre";
    background-color: #EEC;
}

.quiz-sortable li.competence div.quiz-line-type::before
{
    content: "Compétence";
    background-color: #ECE;
}

/* Boutons */
.button, button, input[type="submit"]
{
    font-family: inherit;
}


/* jQueryUI dialog */
.ui-widget-overlay
{
    opacity: 0.9;
}

/* jQueryUI Tabs */
.ui-tabs-vertical { display: flex; flex-direction: row; }
.ui-tabs-vertical .ui-tabs-nav { padding: 0; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li
{
    clear: left;
    float: right;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: .3em -1px 0 0;
}
/*.ui-tabs-vertical .ui-tabs-nav li.tab-client */
.ui-tabs-vertical .ui-tabs-nav li.tab-stagiaire
{
    width: 90%;
    margin: 0 -1px 0 0;
}
.ui-tabs .ui-tabs-nav li.tab-stagiaire .ui-tabs-anchor
{
    padding: .2em 1em;
}

.ui-tabs-vertical .ui-tabs-nav li a { display:block; width: 100%; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; }
.ui-tabs-vertical > * { flex-grow: 1 5;}

.infos-client p
{
    margin-top: 0px;
}

/* fieldset */
fieldset.metadata div
{
    margin: 15px 0;
}
fieldset h2
{
    margin: 15px 0 10px;
    font-size: 20px;
}
fieldset table
{
    margin: 20px 0px;
}

table.gestion-docs-admin th
{
    border-bottom: 1px solid #888;
    border-top: 1px solid #888;
    padding: 8px 3px;
    background-color: #DDD;
}
table.gestion-docs-admin td
{
    vertical-align: top;
    border-bottom: 1px solid #BBB;
    text-align: center;
    padding: 5px 3px;
    width: 8%;
}
table.gestion-docs-admin td:first-child
{
    text-align: left;
    width: auto;
}

table.gestion-docs-admin .dashicons
{
    font-size: 40px;
}
table.gestion-docs-admin .dashicons:hover
{
    color: #4D0;
}
table.gestion-docs-admin .disabled,
table.gestion-docs-admin .disabled:hover
{
    color: #BBB;
}

td.td-intertitre
{
    padding: 3px;
    background: #DD4;
}

button
{
    font-family: sans;
    font-size: 0.8em;
}
button,
.bouton,
.gestion-docs-admin .doc-bouton
{
    cursor: pointer;
    padding: 2px 5px;
    border: 1px solid #AAA;
    border-radius: 5px;
    width: auto;
}
.bouton
{
    border-color: #4A4;
    color: #4A4;
}
.bouton.enregistrement-requis
{
    background-color: #FAA;
    border: 3px solid #A44;
    color: black;
    text-align: center;
}
.bouton.enregistrement-requis:hover
{
    background-color: #A44;
    color: white;
}
#update-budget-total
{
    display: none;
}
.bouton:hover,
.gestion-docs-admin .doc-bouton:hover
{
    background-color: #8F8;
}

input, textarea
{
    padding: 5px;
    margin-top: 0px;
}
textarea,
label
{
    vertical-align: top;
    display: inline-block;
}
label
{
    padding: 3px;
}
input[type='number']
{
    width: 6em;
}
.gestion-docs-admin .attention,
.gestion-docs-admin .attention:hover
{
    background-color: #F33;
    color: white;
}

.gestion-docs-admin .en-cours
{
    background-color: #FF3;
}
span.fait,
.gestion-docs-admin .fait
{
    background-color: #3F3;
}

div.liste-creneau
{
    display: flex;
    border-top: 1px solid #AAA;
}
div.liste-creneau input
{
    width: 100px;
}
div.liste-creneau > div
{
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    width: auto;
    flex-direction: row;
}
div.creneau.actif .select-icon { display: none; }
div.creneau .select-icon { display: inline-block; }
div.creneau.actif .dashicons-yes-alt { display: inline-block; }
div.creneau .dashicons-yes-alt { display: none; }
div.creneau .select-icon
{
    vertical-align: middle;
    text-align: center;
    min-width: 20px;
    margin-right: 5px;
}

div.liste-creneau span.creneau-date
{
    font-weight: bold;
    margin: 10px;
}


div.liste-creneau div.masque
{
    display: none;
    position: fixed;
    z-index: 300;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #888;
    opacity: 0.5;
}

div.liste-creneau div.details
{
    position: absolute;
    float: left;
    display: none;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    text-align: right;
    border: 2px solid;
    z-index: 500;
}
div.liste-creneau div.details label
{
    flex-direction: column;
}
.creneau.presentiel { background-color: #DAFB3F; }
.creneau.presentiel.actif { background-color: #85A000; color: white; }
.creneau.foad_sync { background-color: #5CCDC9; }
.creneau.foad_sync.actif { background-color: #006561; color: white; }
.creneau.foad_async { background-color: #A7ADE6; }
.creneau.foad_async.actif { background-color: #222B85; color: white; }
.creneau.afest { background-color: #E89FDA; }
.creneau.afest.actif { background-color: #881D73; color: white; }
.creneau.bilan { background-color: #FFCDAF; }
.creneau.bilan.actif { background-color: #A65424; color: white; }

.bouton.add-creneau::before,
.bouton.copy-date::before,
.bouton.add-date::before
{
    font-family: dashicons;
    font-size: 1.4em;;
}
.bouton.add-creneau,
.bouton.copy-date,
.bouton.add-date
{
    font-family: inherit;
    padding: 5px;
    margin: 5px;
    font-size: 1.1em;
}

.eval td.coche
{
    width: 7%;
}

.center { text-align: center; }

form#pilote_formation
{
    border: 2px #777 solid;
    padding: 10px 20px;
}


/* Sous-traitance */
table#liste-stagiaires
{
    width: auto;
}
table#liste-stagiaires td
{
    padding: 3px 10px;
    text-align: center;
}

.um-page-user h1.entry-title
{
    display: none;
}

.um-field-radio.um-field-half
{
    width: 20%;
    margin-right: 3em;
}
.um-field-radio .right
{
    float: left !important;
    text-align: left;
}

.msg-validation
{
    border: 1px solid red;
    border-radius: 5px;
    background-color: #CCC;
    padding: 15px;
}


/* Bouton « Coller en texte » du wp_editor : rouge lorsqu'il est actif */

div.mce-active i.mce-i-pastetext::before
{
    color: #F00;
}

/* Page pilote */
body.pilote #content
{
    width: 100%;
    padding: 0;
    float: none;
    position: relative;
}
body.pilote #container,
body.pilote .entry-header,
body.pilote .entry-content,
body.pilote .entry-summary,
body.pilote .entry-footer
{
    margin: 0;
    max-width: 100%;
    width: 100%;
}
body.pilote article.page 
{
    z-index: 10;
    position: relative;
}
body.pilote #sidebar
{
    display: none;
}

body.pilote #tmp
{
    width: 96%;
    margin: 0 2%;
    top: 0px;
    position: absolute;
    z-index: 11;
}

#top-bloc-pilote
{
    height: 80px;
    background-color: white;
    margin: 0;
    padding: 0;
    position: sticky;
    -webkit-position: sticky;
    top: 0px;
    display: flex;
    font-size: 12px;
    font-family: sans;
}
#top-bloc-pilote *
{
    display: table;
    margin: 2px 10px 2px 0;
}
#top-bloc-pilote div.filtres
{
    border: 1px solid #AAA;
    padding: 3px;
}
#top-bloc-pilote div.filtres span
{
    display: inline;
    font-size: 0.8em;
}

table.pilote
{
    margin-top: 0;
}
table.pilote th,
table.pilote td
{
    border: 1px solid #BBB;
    font-size: 12px;
    line-height: 14px;
    font-family: sans-serif;
    word-break: normal;
    color: black;
    min-width: 4%;
}
table.pilote p
{
    font-size: 12px;
    line-height: 14px;
    margin: 0;
}
table.pilote span
{
    font-weight: normal;
}
table.pilote input,
table.pilote select,
table.pilote textarea
{
    font-size: 0.9em;
    width: 100%; 
}
table.pilote > tbody > tr
{
    background-color: white;
    padding: 1px;
    border: 1px solid;
}
table.pilote tr.opac
{
    background-color: #EEF;
}
table.pilote > thead
{
    background-color: #CCC;
    position: sticky;
    -webkit-position: sticky;
    top: 80px;
}
table.pilote > thead th
{
    padding: 10px 0;
    font-weight: bold;
}
table.pilote > tbody
{
/*    height: 100vh;
    overflow: scroll;
    display: block;*/
}
table.pilote tr.session
{
    background-color: #EEE;
    padding: 0px;
}
table.pilote tr.session > td > div
{
    display: flex;
    padding: 10px 0px;
}
table.pilote tr.session > td > div > div
{
    margin: 2px 5px;
}
table.pilote tr.session > td > div > div > *
{
    display: inline;
}
table.pilote tr.session span.legende
{
    color: #888;
    font-style: italic;
}

tr.pilote-tableau-stagiaires
{
    display: none;
}
table.pilote_stagiaires
{
    margin: 0;
}

table.pilote_stagiaires td,
table.pilote_stagiaires th
{
    font-size: 1em;
}

div#pilote_dialog
{
    display: none;
}
table.sql tr:nth-child(2n)
{
    background-color: #EEE;
}

/* Bilan pédagogique et financier */
#bpf p.value,
#bpf p.total,
#bpf p.sous_value
{
    display: flex;
    border-bottom: 1px solid #DDD;
    margin: 10px 0;
}
#bpf .total
{
    font-weight: bold;
}
#bpf .erreur
{
    color: #F88;
    font-weight: normal;
}
#bpf p.total span.bpf_value
{
    margin-left: auto;
    width: 200px;
}
span.bpf_right
{
    margin-left: auto;
    margin-right: 5px;
}
span.bpf_value
{
    border: 1px solid #BBB;
    border-radius: 2px;
    padding: 2px 10px;
    width: 150px;
    display: inline-block;
    text-align: right;
    height: max-content;
}
div.bpf_group
{
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 2px 5px;
}
#bpf div.bpf_group p.value
{
    margin: 5px 0;
}
#bpf div.bpf_group p.sous_value
{
    margin: 5px 10px;
}
div.bpf_ctl
{
    background-color: #EFD;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 0.9em;
}
div.bpf_ctl p
{
    margin: 0;
}
#bpf table td
{
    border: 1px solid #888;
    text-align: center;
    width: 15%;
}
#bpf table td:first-child
{
    text-align: left;
    width: auto;
}
